<%= link_to 'All Customers', root_path %> |
<%= link_to 'Alphabetized', customers_alphabetized_path %> |
<%= link_to 'Missing Email', customers_missing_email_path %>

<h1>Customers#missing_email</h1>
<%= render partial: 'customer', collection: @customers %>
