<%= link_to 'All Customers', root_path %> |
<%= link_to 'Alphabetized', customers_alphabetized_path %> |
<%= link_to 'Missing Email', customers_missing_email_path %>

<h1>Missing Email Customers</h1>
<%= render partial: 'customers/customer', collection: @customers, as: :customer %>
